{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">
  
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'images/logo.webp' %}" width="75%" alt="logo"/>
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ about.title }}</h2>
      <!-- Content goes directly underneath this -->
      {{ about.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->
      <h1 class="text-center">Welcome to Scales & Tails</h1>
      <p class="text-center">
        This is a site all about the care of Boa Constrictors.<br>
        Here you will find a care sheet that will cover all the basics.<br>
        There is also a forum area where you can ask questions, or answer questions from others.<br>
        Or you could post suggestions for vivarium setups.<br>
        You might even create a more detailed care sheet for your species of Boa.<br>
        In the future we will be implementing a gallery page, so you can upload pictures of your reptilian friends, or your setup.<br>
        So stay tuned and keep your eyes peeled for future updates.
      </p>
    </div>
  </div>
</div>
{% endblock content %}